:root {
  --speed: 0.8s;
  --dir: 1;
  --delay: 0s;
  --border-radius: 50%;
  --hue-offset: 60;
  --hue-one: 90;
  --hue-two: calc(var(--hue-one) + var(--hue-offset));
  --opacity-start: 0.1;
  --play-state: running;
}

body {
  box-sizing: border-box;
  background: #00001d;
  color: var(--mid);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.spinners {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 60vmin;
}

.conic-spinner.normal {
  animation-direction: normal;
}

.conic-spinner.reverse {
  animation-direction: reverse;
}

.conic-spinner {
  background: conic-gradient( 
    black 0deg 90deg, 
    hsl(var(--hue-one), 50%, 50%) 90deg 180deg, 
    black 180deg 270deg,
    hsl(var(--hue-two), 50%, 50%) 270deg
  );
  mix-blend-mode: screen;
  border-radius: var(--border-radius);
  width: 6vmin;
  height: 6vmin;
  animation: spin var(--speed) linear var(--delay) infinite;
  animation-play-state: var(--play-state);
}

@media not all and (min-resolution:.001dpcm){ 
  @supports (-webkit-appearance:none) {
  .conic-spinner {
    background: radial-gradient(circle farthest-corner at 33% 33%, black 0%, hsl(var(--hue-one), 50%, 50%) 80%), radial-gradient(circle farthest-corner at 45% 45%, black 50%, hsl(var(--hue-two), 50%, 50%) 80%);
  }
}}

@keyframes spin {
  0% {
    opacity: var(--opacity-start);
    transform: rotate(0deg) scale(0.75);
  }
  50% {
    opacity: 1;
    transform: rotate(180deg) scale(1);
  }
  100% {
    opacity: var(--opacity-start);
    transform: rotate(360deg) scale(0.75);
  }
}

.m-r-5 {
  margin-right: 5px;
}


.m-t-0 {
  margin-top: 0;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px;
}
