:root {
  --speed: 0.8s;
  --dir: 1;
  --delay: 0s;
  --border-radius: 50%;
  --hue-offset: 60;
  --hue-one: 90;
  --hue-two: calc(var(--hue-one) + var(--hue-offset));
}

body {
  box-sizing: border-box;
  background: #000;
  color: grey;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.spinners {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 60vmin;
}

.conic-spinner.normal {
  animation-direction: normal;
}

.conic-spinner.reverse {
  animation-direction: reverse;
}

.conic-spinner {
  background: conic-gradient( 
    black 0deg 90deg, 
    hsl(var(--hue-one), 50%, 50%) 90deg 180deg, 
    black 180deg 270deg,
    hsl(var(--hue-two), 50%, 50%) 270deg
  );
  mix-blend-mode: screen;
  border-radius: var(--border-radius);
  width: 6vmin;
  height: 6vmin;
  opacity: 0;
  animation: spin var(--speed) linear var(--delay) infinite;
}

@keyframes spin {
  0% {
    opacity: 0.1;
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: rotate(180deg);
  }
  100% {
    opacity: 0.1;
    transform: rotate(360deg);
  }
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px;
}
